<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
	<title>KIT Cloud Serving Deployment and Benchmark</title>
	<style type="text/css" media="screen">
    body {
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
        background-color: #f0f0f0;
        font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
        font-size: 13px;
        color: #333;
    }
    h1 {
        font-size: 28px;
        color: #000;
    }
    a {
        color: #03c
    }
    a:hover {
        background-color: #03c;
        color: white;
        text-decoration: none;
    }
    .filename {
        font-style: italic;
    }
    label {
        font-weight: bold;
    }
    #page {
        background-color: #f0f0f0;
        width: 750px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #content {
        float: left;
        background-color: white;
        border: 3px solid #aaa;
        border-top: none;
        padding: 25px;
        width: 700px;
    }
    #header {
 		   	padding-left: 200px;
        padding-right: 100px;
        background-image: url("assets/aifb_logo.png"), url("assets/fzi_logo.png");
        background-repeat: no-repeat;
        background-position: top left, top right;
        height: 99px;
    }
    #header h1, #header h2 {
        margin: 0
    }
    #header h2 {
        color: #888;
        font-weight: normal;
        font-size: 16px;
    }
    #separator {
        border-top: 1px solid #ccc;
        margin-top: 25px;
        padding-top: 15px;
    }
    #footer {
        clear:left;
        margin-top:1em;
        background:#efefef;
        text-align:center;
        padding:10px;
        font-weight: bold;
    }
	</style>
	<!-- <script type="text/javascript">
		$(document).ready(function() {
	   if ($('textarea').length > 0) {      
	     var data = $('textarea');
	     $.each(data, function(i) {
	       CKEDITOR.replace(data[i].id);
	     });    
	   } 
		});
		$(function(){
							var config = {
								skin:'v2'
							};
							$('.ckeditor').ckeditor(config);
		});
	</script> -->
	
	<!-- <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="/ckeditor/adapters/jquery.js"></script>
	 -->
</head>



<body>
	<div id="page">
		<div id="content">
			<div id="header">
			  <h1>KIT Cloud Serving Deployment and Benchmark</h1>
			  <h2>You&rsquo;re building the cloud. With KCSDB.</h2>
			</div>
			<div id="separator"></div>
			
			<div id="tabs">
				<ul>
			  	<li><a href="#tabs-1">Configuration</a></li>
					<li><a href="#tabs-2">Monitoring</a></li>
	  			<li><a href="#tabs-3">Benchmark</a></li>
	  			<li><a href="#tabs-4">Credentials</a></li>
	  			<li><a href="#tabs-5">About</a></li>
				</ul>
				
				<!-- Configuration Management -->
				<div id="tabs-1">
					<!-- <% if @chef_server_state == 'not_setup'%>
						<div id="chef_server_status_dialog"></div>
	          <div style="color: red;">
		          <p>
		            KCSDB is now in the <strong>fresh state</strong>. You have to set up a Chef Server in order to configure machines in infrastructure.
		            Click the button below to set up a new Chef Server.
		          </p>
		          <div id="set_up_chef_server">Set up Chef Server</div>
		          <script>
		          	var button_set_up_chef_server_opts = {
				        	icons:{
				       			primary:"ui-icon-wrench"
				        	}
				        };
				        $("#set_up_chef_server").button(button_set_up_chef_server_opts);
				        $("#set_up_chef_server").click(function(){
				        	$("#chef_server_status_dialog").dialog({
				          	title:"Set up a fresh Chef Server. KCSDB's automating everything in the background for you. Time to take a coffee now, just 5 minutes. When you come back, it's already done!",
				            show:"slide",
				            hide:"puff",
				            open:function (event) {
				            	$(this).empty();
				              $(this).load("/chef_server/setup");
				          	}
				          });
				        });
		          </script>
	      		</div>
					<% else %> -->
						<div style="color: green;">
		          <p>Chef Server is now <strong>ready</strong>. Click the button below to go to Chef Server.</p>
		          <button id="go_to_chef_server">Go to Chef Server</button>
		          <script>
		          	var button_go_to_chef_server_opts = {
				        	icons:{
				       			primary:"ui-icon-home"
				        	}
				        };
				        $("#go_to_chef_server").button(button_go_to_chef_server_opts);
				        $("#go_to_chef_server").click(function () {
				        	window.open("/chef_server/go_to");
				        });
		          </script>
	      		</div>
					<!-- <% end %> -->
				</div>
				
				<!-- Central Monitoring -->
				<div id="tabs-2">
					<!-- <% if @chef_server_state == 'not_setup'%>
						<div style="color: red;">
	          	Please, click on tab <strong>Configuration</strong> to create a <strong>fresh Chef Server</strong> at first. 
	      		</div>
					<% else %> -->
						You can go to Ganglia Server here.
					<!-- <% end %> -->
				</div>
				
				<!-- Automated Benchmark -->
				<div id="tabs-3">
		 			<!-- <%= form_tag('/chef_node/create') do %>
				  	<%= label_tag "Flavor Create", "Choose a machine type:" %>
				    <input type="radio" name="flavor_create" id="small_create" value="small_create"><label for="small_create">Small</label></input>
				    <input type="radio" name="flavor_create" id="medium_create" value="medium_create"><label for="medium_create">Medium</label></input>
				    <input type="radio" name="flavor_create" id="large_create" value="large_create"><label for="large_create">Large</label></input>
				    </br>
				
				    <%= label_tag "Number", "How many machines:" %>
				    <%= text_field_tag "number_create", "dummy" %>
				    </br>
				
					  <button id="createChefNodes" type="submit">Create</button>
				 	<% end %>
				 	</br>
				 	
				 	<%= form_tag('/chef_node/configure') do %>
				    <%= label_tag "Replication Factor", "Replication Factor:" %>
				    <%= text_field_tag "replication_factor", "3" %>
				    </br>
				    
				    <%= label_tag "Keyspace", "Keyspace:" %>
				    <%= text_field_tag "keyspace", "usertable" %>
				    </br>
				    
				    <%= label_tag "Column Family", "Column Family:" %>
				    <%= text_field_tag "column_family", "data" %>
				    </br>
				
					  <button id="configureChefNodes" type="submit">Configure</button>
				 	<% end %> -->
				 	
				 	<%= form_tag('benchmark/run') do %>
				 		<%= label_tag "Benchmark Profile File URL", "Benchmark Profile File URL: "%></br>				 		
						<%= text_field_tag "benchmark_profile_file_url", "https://raw.github.com/lehoanganh/kcsdb/master/benchmark_profiles.yaml"%>				 		
				 	<% end %>
				 	
				</div>
				
				<!-- Credentials -->
				<div id="tabs-4">
					<div id="aws_credentials_accordion">
						<h2><a href="#">AWS Credentials</a></h2>
						<div id="aws_credentials">
							<div id="aws_credentials_status_dialog"></div>
							<%= form_tag('/configuration/edit_aws', :remote => true) do %>
				        <table>
				        	<tr>
				          	<td><%= label_tag "Access Key ID", "Access Key ID" %></td>
				            <td><%= text_field_tag "aws_access_key_id", @aws_access_key_id, :size => 55 %></td>
				          </tr>
				        	<tr>
				          	<td><%= label_tag "Secret Key Access", "Secret Key Access" %></td>
				            <td><%= text_field_tag "aws_secret_access_key", @aws_secret_access_key, :size => 55 %></td>
				          </tr>
				          <tr>
				          	<td><%= label_tag "Key Pair and Security Group", "Key Pair and Security Group" %></td>
				            <td><%= text_field_tag "key_pair_and_group", @key_pair_name, :size => 55 %></td>
				          </tr>
				          <tr>
				          	<td><button id="submit_aws" type="submit">Submit</button></td>
				          	<td>&nbsp;</td>
				          </tr>
				          <script>
				          	var button_aws_credentials_opts = {
						        	icons:{
						       			primary:"ui-icon-key"
						        	}
					      		};
					      		$("#submit_aws").button(button_aws_credentials_opts);
										$("#submit_aws").click(function () {
					          	$("#aws_credentials_status_dialog").dialog({
					              title: "AWS Credentials are already updated. Please ensure they are correct!",
					              show: "slide",
					              hide: "puff",
					              height: "0",
					              resizable: false
					          	});
					      		});
				          </script>
				        </table>
				      <% end %>
						</div>
						<script>
							$("#aws_credentials_accordion").accordion();
						</script>
					</div>
				</div>
				
				<!-- About Information -->
				<div id="tabs-5">
					About information here.
				</div>
				
				<!--jQuery Functions-->
		  	<script>
		      $("#tabs").tabs();
		  	</script>
		  	
			  <!-- <% if @chef_server_state == 'not_setup' %>
			      <div id="state_status_dialog">
			        <div style="color: red;"><%= simple_format @status %></div>
			      </div>
			      <script>
			          $("#state_status_dialog").dialog({
			              title:"KCSDB Status",
			              show:"slide",
			              hide:"puff"
			          });
			      </script>
			  <% else %> -->
			      <div id="state_status_dialog">
			        <div style="color: green;"><%= simple_format @status %></div>
			      </div>
			      <script>
			          $("#state_status_dialog").dialog({
			              title:"KCSDB Status",
			              show:"slide",
			              width: "30em",
			              hide:"puff",
			              resizable: false
			          });
			      </script>
			  <!-- <% end %> -->
			</div>
		</div>
		<div id="footer">
			Copyright &copy; | Version 0.7 | 2012 | <a href="http://aifb.kit.edu/">AIFB</a> | <a href="http://www.fzi.de/">FZI</a>
		</div>
	</div>
</body>
</html>
